.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    color: black !important;
    padding: 10px 15px !important;
    border-radius: 10px;
}
.navbar .nav-link:hover {
    transition: all .3s ease;
    background: #F91944;
    color: white !important;
}