.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    color: black !important;
    padding: 5px 30px !important;
    border-radius: 30px;
}
.navbar .nav-link:hover {
    transition: all .3s ease;
    background: #F91944;
    color: white !important;
}