.food-toggler button {
    background: white;
    border: none;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.red-border {
    border-bottom: 3px solid #F91944 !important;
}