.form {
    height: calc(100vh - 66px);
}
.login-form input {
    display: block;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background: #F5F5F5;
}
.submit-btn {
    background: #F91944 !important;
    color: white;
}