@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.btn-custom {
  display: block;
  margin: 20px auto;
  border: none;
  outline: none;
  background: #F91944;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
}